<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <!-- Set the root logger level and appenders -->
    <Root level="INFO">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="File"/>
    </Root>

    <!-- Console Appender -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <!-- Rolling File Appender -->
    <Appenders>
        <RollingFile name="File" fileName="logs/application.log"
                     filePattern="logs/application-%d{yyyy-MM-dd_HH-mm}.log">
            <JsonLayout compact="true" eventEol="true"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="720" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- Logger configuration -->
    <Loggers>
        <Logger name="smart-campus" level="DEBUG"/>
        <Root level="INFO"/>
    </Loggers>

</Configuration>
